.titulo{
  color:  rgb(5, 90, 213);
  font-family: 'sans-serif';
  font-size: 50px;
  font-weight:bold;
  margin-top: 120px;
}
.titulo_cont{
  background-image: rgb(0, 0, 64);
  text-align: center;
}

.cabecalho{
  margin: 8px;
  border: rgb(255, 255, 255) 2px;
  font-family:  'sans-serif';
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.linhas{
  margin: 8px;
  border-bottom: rgb(5, 90, 213) solid 2px;
  border-left:rgb(5, 90, 213) solid 2px ;
  border-right:rgb(5, 90, 213) solid 2px ;
  font-family: 'sans-serif';
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: rgb(5, 90, 213);
}
.custoM{
  margin: 15px;
  font-family: 'sans-serif';
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.custoM1{
  margin: 15px;
  font-family: 'sans-serif';
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: right;
}

.entradaDados{
  border-radius: 10%;
  width: 100px;
  background-color: rgb(5, 90, 213);
  color: aliceblue;
}
.valvula{
  color: rgb(255, 255, 255);
  font-family: 'sans-serif';
  font-size: 25px;
  margin-left: 25px;
}
.radio{
  padding: 10px;
}

.labelM{
  padding: 10px;
}
.margem{
  color: rgb(255, 255, 255);
  font-family: 'sans-serif';
  font-size: 25px;
  text-align: right;
  margin-right: 25px;
}
.span{
  padding: 5px;
}


