/* Título */
.titulo {
    color: rgb(5, 90, 213);
    font-family: 'sans-serif';
    font-size: 50px;
    font-weight: bold;
    margin-top: 120px;
}

/* Navbar / Container */
.titulo_cont {
    text-align: center;
}

/* Cabeçalho da tabela */
.cabecalho {
    margin: 8px;
    font-family: 'sans-serif';
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

/* Linhas da tabela */
.linhas {
    margin: 8px;
    border: 2px solid rgb(5, 90, 213);
    font-family: 'sans-serif';
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(5, 90, 213);
}

/* Preço médio */
.custoM {
    margin: 15px;
    font-family: 'sans-serif';
    color: white;
    font-size: 25px;
}

/* Inputs e selects padrão */
.entradaDados {
    border-radius: 10%;
    padding: 5px 10px;
    width: 100%;
    max-width: 100px; /* limita o tamanho */
    background-color: rgb(5, 90, 213);
    color: aliceblue;
    border: 1px solid white;
    font-size: 16px;
}


.input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

/* Label */
.input_group label {
    color: white;
    font-family: 'sans-serif';
    font-size: 18px;
    margin-bottom: 5px;
}

/* Botão voltar */
.Botao_Voltar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.link_voltar {
    color: azure;
    margin: 20px;
}
