* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #060a5e;
}

.subtitulo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px;

}

.subtitulo h3 {
    font-size: 30px;
    color: rgb(5, 90, 213);
    font-family: 'sans-serif';
    font-weight: bold;
}


/* Inputs e selects padrão */
.entradaDados {
    border-radius: 10%;
    padding: 5px 10px;
    width: 100%;
    max-width: 100px; /* limita o tamanho */
    background-color: rgb(5, 90, 213);
    color: aliceblue;
    border: 1px solid white;
    font-size: 16px;
}


.input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

/* Label */
.input_group label {
    color: white;
    font-family: 'sans-serif';
    font-size: 18px;
    margin-bottom: 5px;
}

/* Botão voltar */
.Botao_Voltar {
    display: flex;
    justify-content: center;
    margin: 20px;
}


.opcoes_input {
    height: 40px;
}

.colForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rowtitulo {
    margin-bottom: 20px;
}

@media print {
    .noPrint {
        display: none !important;

    }

    .imprimir {
        font-weight: bold;
        color: black !important;
    }

}