.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: white;
}

.divSub {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px;
    color: rgb(5, 90, 213);
}

.formControl {
    margin: 5px;
}

.dataEmissao {
    margin: 5px;
    width: 250px;
}

.tipoPedido {
    margin: 5px;
    margin-right: 25px;
}

.QTDbatidas {
    width: 150px;
}

.itensPedido {
    margin: 15px;
}

.tableStyle {
    margin-top: 25px;
}

.thForm {
    justify-items: center;
    justify-content: center;
}