* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #060a5e;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    background-image: url('../imagens/LogoFenix.png');
    background-size: cover; /* não corta */
    background-repeat: no-repeat;
    background-position: center;
}
