.titulo{
    color:  black;
    font-family: 'sans-serif';
    font-size: 50px;
    font-weight:bold;
    margin-top: 120px;
}
.navbar{
    background-color: rgb(5, 90, 213);
}
.subtitulo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin:20px;

}
.subtitulo h3{
    font-size: 30px;
    color:  rgb(5, 90, 213);
    font-family: 'sans-serif';
    font-weight:bold;
}
/*tabela*/
.containerFluid {
    padding-left: 25px;
    padding-right: 25px;

}
.tableEqual {
    width: 100%;
    table-layout: fixed;
    margin-top: 10px;
}

.tableEqual th,
.tableEqual td {
    text-align: center;
}
h2{
    color: white;
    font-size: 30px;
    font-family: 'sans-serif';
}


/*filtro*/
.filtro{
    color:  rgb(5, 90, 213);
    font-family: 'sans-serif';
    font-size: 30px;
}
.labelFiltro{
    margin: 10px;
    color:  rgb(5, 90, 213);
    font-family: 'sans-serif';
    font-size: 20px;
}
.entradaDados{
    width: 180px;
    font-family: 'sans-serif';
    font-size: 20px;
    text-align: center;
    height: 30px;
}

/*rodape */
.navBarRodape {
    padding: 0;
    width: 100%;
    background-color: rgb(0, 0, 64)

}
.rodapeBotao{
    display: flex;
    justify-content: center;
    margin: 20px;


}




